name: Test

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@main
        with:
          deno-version: "1.44.1"

      - name: Check Formatting
        run: deno fmt --check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@main
        with:
          deno-version: "1.44.1"

      - name: Check Linting
        run: deno lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@main
        with:
          deno-version: "1.44.1"

      - name: Do Testing
        run: deno test

  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@main
        with:
          deno-version: "1.44.1"

      - name: Publish Test
        run: deno publish --dry-run
